#main-body-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vmax;
    box-sizing: border-box;
    padding: 50px 40px 70px 40px;
    overflow: hidden;
}

#intro-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 45vw;
}

#intro-header {
    position: relative;
    width: 80%;
    font-size: 5vw;
    word-wrap: break-word;
    word-break: keep-all;
}

#intro-introduction {
    position: relative;
    width: 80%;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
    word-wrap: break-word;
    word-break: keep-all;
    word-spacing: 5px;
}

#intro-button button{
    width: 150px;
    height: 50px;
    border: solid black 2px;
    border-radius: 10px;
    background-color: black;
    font-size: 18px;
    color: white;
    text-align: center;
    font-weight: 500;
}

#intro-button button:hover{
    cursor: pointer;
    border: solid black 2px;
    border-radius: 10px;
    background-color: white;
    color: black;
}

#intro-hero {
    position: relative;
    display: inline-block;
    width: 30vw;
    height: 80vh;
}

#intro-hero #desktop-img{
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;    
}

#intro-hero #mobile-img{
    display: none; 
}

@media screen and (max-width: 700px) {
    #main-body-wrapper {
        display: flex;
        flex-direction: column-reverse;
        padding: 30px 0 0 0;
    }  

    #intro-hero {
        position: relative;
        display: flex;
        width:100vw;
        height: 40vh;
        align-items: center;
    }

    #intro-hero #desktop-img{
        display: none;
    }
    
    #intro-hero #mobile-img{
        position: relative;
        left: 0;
        top: 0;
        display: block;
        width: 100%;
        height: 100%;
    }

    #intro-wrapper {
        justify-content:none;
        align-items: center;
        width: 100vw;
        padding: 20px 10px 20px 10px;
        text-align: center;
    }

    #intro-header {
        width: 80%;
        font-size: 7vw;
        word-wrap: break-word;
        word-break: keep-all;
    }
    
    #intro-introduction {
        width: 100vw;
        font-size: 20px;
        margin: 20px 0 20px 0;
        word-wrap: break-word;
        word-break: keep-all;
        word-spacing: 0;
    }

    #intro-button button{
        margin-bottom: 50px;
    }
    
} 