*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul,ol{
    text-decoration: none;
    list-style: none;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(245, 245, 245);
}

.sub-title-font {
    font-size: 14px;
    font-weight: 500;
    color: rgb(121, 121, 121);
}